
.navBlock {
  overflow: hidden;
  background-color: #B1F0FF;
  position: fixed;
  top: 0;
  width: 100%;
}

.navBar {
    
    list-style-type: none;
    margin: 0;
    
}

.navBarElement {
    
    font-style: italic; 
    font-size: 18px; 
    display: inline;
}

.navBarElement a {
  float: left;
  display: block;
  color: #333;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:cursive;

}

.navBarElement a:hover {
    background: #26A5E0;
    color:#FFFFFF;
}

.parUnderlay {
    margin: auto;
    max-width: 60%;
    background-color: rgba(227,111,57,.8);
    padding: 30px;
}
